<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Parcel Shipment</h1>

    <form action="/parcels" method="post">
      <label for="width">Width.</label>
      <input id="width" name="width" type="text">

      <label for="height">Height.</label>
      <input id="height" name="height" type="text">

      <label for="length">Length.</label>
      <input id="length" name="length" type="text">

      <label for="weight">Weight.</label>
      <input id="weight" name="weight" type="text">

      <button type="submit">Submit</button>
    </form>

  </body>
</html>
